Source: maemo-translate
Section: user/utilities
Priority: extra
Maintainer: Sander <code@kroket.io>
Build-Depends: debhelper (>= 10),
    ccache,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libpcre2-dev,
    libcli11-dev,
    libcpuinfo-dev,
    libsimde-dev,
    wamerican,
    pkg-config,
    qt6-base-dev,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libssl-dev,
    qt6-maemo,
    libqt6-qpa-maemo,
    libqt6-style-maemo,
    libkotki,
Homepage: https://git.maemo.org/leste-extras/maemo-translate
XSBC-Bugtracker: https://git.maemo.org/leste-extras/maemo-translate/issues
Vcs-Git: https://git.maemo.org/leste-extras/maemo-translate
Vcs-Browser: https://git.maemo.org/leste-extras/maemo-translate


Package: maemo-translate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libkotki,
    wamerican,
    libqt6-qpa-maemo,
    libqt6-style-maemo,
    qt6-maemo,
    maemo-translate-data-de
Description: Maemo translation UI for translating text locally
XB-Maemo-Display-Name: Maemo (Offline) Translations
